In [ ]:
import pandas as pd
import os

FILE_NAME = "Gyminsights_dataset2.csv"


possible_paths = [
    FILE_NAME,  
    os.path.join("jupyter_notebooks", FILE_NAME),  
]


FULL_PATH = None
for path in possible_paths:
    if os.path.exists(path):
        FULL_PATH = path
        break

if FULL_PATH is None:
    raise FileNotFoundError(f"File '{FILE_NAME}' not found in expected locations: {possible_paths}")


df = pd.read_csv(FULL_PATH)

df.head()

,UserID,Age,Gender,MembershipType,WorkoutDuration,CaloriesBurned,PreferredWorkoutType,WorkoutTime,GymVisitsPerMonth,SatisfactionScore
0,User001,56,Male,VIP,112,648,Cardio,16:07,20,5
1,User002,46,Male,Basic,114,379,Strength Training,06:47,20,2
2,User003,32,Female,Basic,80,606,Yoga,10:15,18,4
3,User004,60,Male,Basic,93,395,Cardio,09:08,14,1
4,User005,25,Female,Basic,48,665,Yoga,17:06,18,2